{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="contestbox">
        <h1 style="text-align: left">Contest Boxes </h1>
        {% if contests|length < 1 %}
        <h4 style="text-align: center">There are no contests marked</h4>
        {% else %}
        <table>
            <tr class="top">
                <th>Contest</th>
                <th>X1</th>
                <th>Y1</th>
                <th>X2</th>
                <th>Y2</th>
                <th>Page</th>
                <th>Ballot</th>
            </tr>
            {% for contest in contests %}
                <tr>
                    <td>{% if contest.name %}{{ contest.name }}{% else %}Contest{{ contest.id }}{% endif %}</td>
                    <td>{{ contest.leftX }}</td>
                    <td>{{ contest.leftY }}</td>
                    <td>{{ contest.rightX }}</td>
                    <td>{{ contest.rightY }}</td>
                    <td>{{ contest.page }}</td>
                    <td>{{ contest.ballot }}</td>
                    <td>
                        <a href="/contest/delete/{{contest.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <a href="/contest/delete_all">Delete All</a>
    </div>

    <div class="optionsbox">
        <h1 style="text-align: right">Option Boxes </h1>
        {% if contests|length < 1 %}
        <h4 style="text-align: center">There are no options marked</h4>
        {% else %}
        <table>
            <tr class="top">
                <th>Option</th>
                <th>X1</th>
                <th>Y1</th>
                <th>X2</th>
                <th>Y2</th>
                <th>Contest (ID)</th>
            </tr>
            {% for option in options %}
                <tr>
                    <td>{% if option.name %}{{ option.name }}{% else %}Option{{ option.id }}{% endif %}</td>
                    <td>{{ option.leftX }}</td>
                    <td>{{ option.leftY }}</td>
                    <td>{{ option.rightX }}</td>
                    <td>{{ option.rightY }}</td>
                    <td>{{ option.contest }}</td>
                    <td>
                        <a href="/option/delete/{{option.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <a href="/option/delete_all">Delete All Options</a>
    </div>

</div>
<!-- end content -->


<div class="forms">
    <div class="form">
        <form action="/contest" method='GET'>
            <input type="file" id="imagefile" name="imagefile" accept = ".pdf">
            <br><input type="submit" value="Add Contest">
            <br><input type="checkbox" name="use-existing-files"/><a>use existing ballots</a>
        </form>
    </div>
    <div>
        <form action="/option" method='GET'>
            <br><input type="submit" value="Add Option">
        </form>
    </div>

    <div>
        <form method='POST'>
            <input type="text" name="file-name" value="ballot_template.txt">
            <input type="submit" value="Save Contests">
        </form>
    </div>
</div>

{% endblock %}
