{% extends 'base.html' %}
{% block head %}
<title>Mark Options</title>

{% endblock %}

{% block body %}
<div>

	<form method="POST" >   
        <br>
        Top Left<input type="radio" name="corner" id="left" style="left:0px;">Bottom Right<input type="radio" name="corner" id="right"style="right:0px;"><br>
        <input type="text" name="option-name"><br>
            X1: <input type="text" id="x-click-l" name="x-click-l" value=0>
            X1: <input type="text" id="x-click-r" name="x-click-r" value=0>
        <br>
            Y2: <input type="text" id="y-click-l" name="y-click-l" value=0>
            Y2: <input type="text" id="y-click-r" name="y-click-r" value=0>
        <br>
        
         {% for contest in contests %}
            {% if contest.name %}{{contest.name}}{% else %}Contest{{contest.id}}{% endif %}<input type="radio" name="contest-id" value="{{ contest.id }}" required/>
        {% endfor %}
        <br> <input type="hidden" name="image-dir" value="{{ dir }}"/>
        <input type="hidden" name="x-l-dot" id="x-l-dot" value=0/>
        <input type="hidden" name="y-l-dot" id="y-l-dot" value=0/>
        <input type="hidden" name="x-r-dot" id="x-r-dot" value=0/>
        <input type="hidden" name="y-r-dot" id="y-r-dot" value=0/>
        <input type="submit" value="Add Option">
    </form>

	<a href="/" style="position: absolute; right: 10px; top: 10px;">Home</a>
    <div id="image-container">
        {% if paths|length < 1 %}
            <h2>No paths available</h2>
        {% else %}
            <div id="image-wrapper">
            {% for path in paths %}
                
                <div class="image-display" id="image-display">
                    {{ paths.index(path) + 1}}<img src="{{ path }}" class="{{ path }} "></img>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
<div>

<script>
$(document).ready(function(){ 
    $("#image-container").on('click', function (ev) {
        if($("#x-click-l").val()>0 && $("#x-click-r").val()>0 && $("#y-click-l").val()>0 && $("#y-click-r").val()>0 ){
            var rect = ev.target.getBoundingClientRect();
            if($(".marker").length > 0){
                // $(".marker").remove();
                $('.marker').css({
                  position: 'absolute',
                  top: $('#y-l-dot').val() + 'px',
                  left: $('#x-l-dot').val() + 'px',
                  width: ($("#x-click-r").val() - $("#x-click-l").val())*rect.width +'px',
                  height: ($("#y-click-r").val() - $("#y-click-l").val())*rect.height +'px'
                });
            } else {
                var rect = ev.target.getBoundingClientRect();
                $("body").append(
                    $('<div class="marker"></div>').css({
                      position: 'absolute',
                      top: $('#y-l-dot').val() + 'px',
                      left: $('#x-l-dot').val() + 'px',

                      width: ($("#x-click-r").val() - $("#x-click-l").val())*rect.width +'px',
                      height: ($("#y-click-r").val() - $("#y-click-l").val())*rect.height +'px',
                      'pointer-events': 'none',
                      border: 'solid 1px red'
                    })              
                  );
            }
        }
    });
});

document.querySelectorAll('.image-display').forEach(item => {
    item.addEventListener('mousedown', function (e) {
        if (document.getElementById("left").checked) {
            var rect = e.target.getBoundingClientRect();
            document.getElementById('x-click-l').value = ((e.x - rect.left)/rect.width).toFixed(4); 
            document.getElementById('y-click-l').value = ((e.y - rect.top)/rect.height).toFixed(4);
            document.getElementById('x-l-dot').value = e.pageX;
            document.getElementById('y-l-dot').value = e.pageY;
        }
    });
});
document.querySelectorAll('.image-display').forEach(item => {
    item.addEventListener('mousedown', function (e) {
        if (document.getElementById("right").checked) {
                var rect = e.target.getBoundingClientRect();
                console.log(e.target)
                document.getElementById('x-click-r').value = ((e.x - rect.left)/rect.width).toFixed(4);
                document.getElementById('x-r-dot').value = e.pageX;
                document.getElementById('y-r-dot').value = e.pageY;
                document.getElementById('y-click-r').value = ((e.y - rect.top)/rect.height).toFixed(4);
            }
    });
});
</script>
{% endblock%}